// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table td { padding: 5px }
.article-input{
    width: 250px;
} 
.article-inputcom{
    width: 200px;
} 
.article-textarea1{
	width: 300px;
	height: 300px;
}
.article-newactive{
	font-size: 120%;
}